---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-gunmetal-500 px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-300">
      <h1
        class="mt-4 text-4xl font-bold tracking-tight text-pretty text-red-devil-500 sm:text-5xl"
      >
        Who We Are
      </h1>
      <figure class="mt-8">
        <img
          class="aspect-video rounded-xl bg-gray-50 object-cover"
          src="../../public/images/redream-cover.jpg"
          alt=""
        />
      </figure>

      <p class="mt-6 font-light">
        We are Alan and Kat, a duo that's been making films since around 2012.
        We are striving to create films without compromise. We created numerous
        works, covering most of the production roles, thanks to our few decades
        of experince in design, video production, VFX etc.
      </p>

      <h1
        class="mt-8 text-4xl font-bold tracking-tight text-pretty text-red-devil-500 sm:text-5xl"
      >
        What Is Redream
      </h1>
      <p class="mt-2 font-light">
        &ldquo;Redream&rdquo; was the name of the <a
          href="https://vimeo.com/34702326"
          target="_blank"
          class="hover:text-red-500 transition-all duration-300 ease-in-out"
          >first film
        </a> that taught us how to make the camera see what's in our head, not just
        what's in front of it.
      </p>

      <p class="mt-2 font-light">
        It was a great experience. Even if it was 13 years ago, to this day we
        haven't met many filmmakers, who know how to do this.
      </p>

      <p class="mt-2 font-light">
        The short film was inspired by the music of Akira Yamaoka. The funny
        thing is — at the time, we hadn't played any Silent Hill games, we were
        captivated by the music, not by the context of it being used as a
        soundtrack for one of the best videogames in history. Another funny
        thing is that Yamaoka-san loved the film and wanted us to work on his
        new music video. But that's a story for another day.
      </p>

      <h1
        class="mt-8 text-4xl font-bold tracking-tight text-pretty text-red-devil-500 sm:text-5xl"
      >
        What's Next
      </h1>

      <p class="mt-2 font-light">
        In 2022 we moved to Thailand to work on our films here in Bangkok. We
        are fascinated by Asian culture and filmmaking, and Bangkok is a massive
        inspiration. Currently we have a few projects in development with plans
        to produce a feature film after we've finished these.
      </p>

      <h1
        class="mt-8 text-4xl font-bold tracking-tight text-pretty text-red-devil-500 sm:text-5xl"
      >
        Collaborations
      </h1>

      <p class="mt-2 font-light">
        Since the beginning, we've been open for working with talent, be it
        music composers (Hi Daniel!), color-grading specialists or VFX artists.
        If you happened to be touched by what we're trying to do here, by all
        means
        <a
          href="/contact"
          class="hover:text-red-500 transition-all duration-300 ease-in-out"
          target="_blank">shoot us a line or two</a
        >.
      </p>

      <h1
        class="mt-8 text-4xl font-bold tracking-tight text-pretty text-red-devil-500 sm:text-5xl"
      >
        Actors
      </h1>

      <p class="mt-2 font-light">
        We believe actors are the single most important resource for creating a
        film. It's not script, because there are hundreds of instances of a weak
        script elevated by a good actor. It's not directing, because only
        filmmakers care about directing. It's actors.
      </p>

      <p class="mt-2 font-light">
        That said, we are always on a lookout for actors to create something
        together. We have a trove of screenplays and constantly write new ones,
        so if you dig our style and what we stand for, we will be happy to <a
          href="/contact"
          class="hover:text-red-500 transition-all duration-300 ease-in-out"
          target="_blank">talk to you</a
        >
        .
      </p>

      <figure class="mt-10 border-l border-red-devil-200 pl-9">
        <blockquote class="font-light text-gray-600">
          <p>
            “All great work is preparing yourself for the accident to happen.”
          </p>
        </blockquote>
        <figcaption class="mt-6 flex gap-x-4">
          <div class="text-sm/6">
            <strong class="font-semibold text-red-devil-500"
              >Sidney Lumet</strong
            >
          </div>
        </figcaption>
      </figure>

      <div class="mt-16 max-w-2xl"></div>
    </div>
  </div>
</Layout>
