---
const currentYear = new Date().getFullYear();
import "../styles/footer.css";
---

<div class="footer-wrapper">
  <div
    class="bg-gunmetal-500 w-full h-20 mt-20 mb-20 flex justify-end px-20"
  >
   

    <div
      class="text-red-devil-500 font-light min-h-12 mt-8 "
    >
      {currentYear} &middot; Redream &copy; All rights reserved.
    </div>
  </div>
</div>
