---
import '@styles/video.css'
---
 
<div class="video-wrapper">
  <video class="video-cover" src="/videos/v_thumb_nightfall.mp4" autoplay loop playsinline muted></video>
  <div class="fade-overlay top"></div>
  <div class="fade-overlay bottom"></div>



</div>
 